/* Light Theme (default) */
body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
  
}

/* Dark Theme */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

/* Optional: make cards, navbar, etc. also follow theme */
.card {
  background-color: #121212;
  color: #f1f1f1;
}

.navbar,
.sidebar {
  background-color: inherit;
  color: inherit;
}
